@import 'custom-vars.scss';

$pageInfoButtonsWidth: $sz-6rem;
$breadcrumbItemSeparatorContent: '>';
$breadcrumbVisibility_phone: $d-hidden;
$customBreadcrumbItemSeparatorContentVisibility: $d-hidden;
$customBreadcrumbItemFontSize: $fs-0-75;
$contentContainerUnsortedListStyle: $lstyle-bullet;
$unsortedListsWithoutMarkerListStyle: $lstyle-none;

$singlePageElements: (
    pageInfoButtons: 'button[sitefunction="pageShowPageFullInfo"], button[sitefunction="pageNavigateToFeedbackAndSupport"], button[sitefunction="pageNavigateToPrevNextNav"]',
    breadcrumbItem: '.breadcrumb-nav-list-item',
    breadcrumb: '.breadcrumb-nav',
    customBreadcrumbItem: '.breadcrumb-item',
    contentContainerUnsortedList: 'main ul',
    unsortedListsWithoutMarker: 'ul[list-type="none"]'
);

@import 'meta.scss';
@include singlePage($singlePageElements);