{% capture uuid %}
  {% UUID %}
{% endcapture %}
{% assign fid = uuid | strip %}

{% assign pageArray= site.data.page_list  | json_string_to_object %}

{% capture siteLanguage %}
    {% SiteLanguage %}
{% endcapture %}

{% assign lang_path = siteLanguage | strip %}
{% assign lang_prefix = '' %}
{% unless lang_path == '' %}
  {% assign lang_prefix = '/' | append: lang_path %}
{% endunless %}

{% assign question = include.q %}
{% assign answer = include.a %}
{% assign ref = include.ref || default: "" %}

<div id="faq-container-{{fid}}" class="mb-3 border-bottom border-secondary border-opacity-50 shadow-none">
  <a class="d-flex text-body justify-content-between align-items-center fw-medium text-decoration-none p-2"
     data-bs-toggle="collapse"
     href="#faq-{{fid}}"
     role="button"
     aria-expanded="false"
     aria-controls="faq-{{fid}}"
     id="faqToggle-{{fid}}">
    <h1 class="m-0 fs-6 fw-medium text-primary">{{question}}</h1>
    <i class="bi bi-plus fs-3 transition-icon text-success" id="faqIcon-{{fid}}"></i>
  </a>
  <div class="collapse" id="faq-{{fid}}">
    <div class="p-2 text-secondary">
      {% capture rendered_answer %}
        {% DryRenderPage answer %}
      {% endcapture %}
      {{rendered_answer | markdonify}}
    </div>

   {% if ref %}
      <div id="faqRef-{{fid}}" class="p-2 mb-2">
        {% assign ref_list = q.ref | split: "," %}
        {% for r in ref_list %}
          {% assign rs = r | strip %}
          {% if rs != nil and rs != "" %}
            {% for doc in pageArray %}
                {% if doc.permalink == rs %}
                    <a class="mt-2 mx-1 btn btn-sm shadow-none btn-outline-secondary" href="{{lang_prefix}}{{rs}}" target=_blank>{{doc.title}}</a>
                {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

  </div>
</div>

<style>
  .spin {
    animation: spin 0.5s linear infinite;
  }

  @keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
  }
</style>

<script>
  $(function () {
    const icon = $('#faqIcon-{{fid}}');

    $('#faq-{{fid}}').on('show.bs.collapse', function () {
      icon.addClass('spin');
    });

    $('#faq-{{fid}}').on('shown.bs.collapse', function () {
      icon.removeClass('spin').removeClass('bi-plus').addClass('bi-dash');
    });

    $('#faq-{{fid}}').on('hide.bs.collapse', function () {
      icon.addClass('spin');
    });

    $('#faq-{{fid}}').on('hidden.bs.collapse', function () {
      icon.removeClass('spin').removeClass('bi-dash').addClass('bi-plus');
    });

    $('#faq-container-{{fid}}').on('mouseenter', function() {
      $(this).addClass('border-2');
    });

    $('#faq-container-{{fid}}').on('mouseleave', function() {
      $(this).removeClass('border-2');
    });

  });
</script>
