{% capture uuid %}
  {% UUID %}
{% endcapture %}
{% assign fid = uuid | strip %}

{% assign what = include.what || default: "design" %}
{% assign file = include.file %}
{% assign node = include.node || default: "" %}
{% assign st = site.title | url_encode  %}
{% assign w = include.w || default: "100%" %}
{% assign h = include.h || default: "300px" %}
{% assign border = include.border || default: "false" %}
{% assign resetBtn = include.resetBtn || default: "true" %}
{% assign figmaLoadMessage = site.data["buildConfig"]["elements"]["figma"]["loadMessage"] %}
{% assign figmaUrl = site.data.buildConfig.elements.figma.allowedUrl | jsonify %}

{% if what == "slides" %}
    {% assign pageSelector = "&page-selector=true" %}
{% else %}
    {% assign pageSelector = "&page-selector=false" %}
{% endif %}

{% if node == "" %}
    {% assign nodeParam = "" %}
{% else %}
    {% assign nodeParam = "&node-id=" | append: node %}
{% endif %}

{% if border == "false" %}
    {% assign borderClass = "border-0" %}
{% else %}
    {% assign borderClass = "border border-secondary border-opacity-25 rounded shadow-none" %}
{% endif %}

<div id="figma-container-{{fid}}">
    <div 
        id="figma-loader-{{fid}}"
        class="d-flex justify-content-center align-items-center {{borderClass}}"
        style="width: {{w}}; height: {{h}};">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <iframe
        id="figma-{{fid}}"
        class="d-none {{borderClass}} rounded"
        width="{{w}}"
        height="{{h}}"
        src="https://embed.figma.com/{{what}}/{{file}}?embed-host={{st}}&footer=false{{pageSelector}}{{nodeParam}}"
        allowfullscreen>
    </iframe>
</div>

{% if resetBtn == "true" %}

   <button 
        class="btn btn-sm btn-primary d-none" 
        id="btn-reset-figma-view-{{fid}}"
        data-i18n="elements_figma_reset_view_btn_text">
        Reset View
   </button>

   <script>
        $(window).on('message', function(event) {
            const originalEvent = event.originalEvent;
            const allowedOrigins = {{figmaUrl}};
            
            if (!allowedOrigins.includes(originalEvent.origin)) return;
            console.log(originalEvent.data);
            if ( originalEvent.data === '{{figmaLoadMessage}}')
                setTimeout(()=>$('#btn-reset-figma-view-{{fid}}').removeClass('d-none'), 100);
        });

        $(document).off('click', '#btn-reset-figma-view-{{fid}}').on('click', '#btn-reset-figma-view-{{fid}}', function() {
            $('#btn-reset-figma-view-{{fid}}').addClass('d-none');
            $('#figma-{{fid}}').addClass('d-none');
            $('#figma-loader-{{fid}}').removeClass('d-none');
            const iframe = $('#figma-{{fid}}');
            iframe[0].src = `https://embed.figma.com/{{what}}/{{file}}?embed-host={{st}}&footer=false{{pageSelector}}{{nodeParam}}`;
        });

        $('#figma-{{fid}}').on('load', function () {
            $('#figma-loader-{{fid}}').addClass('d-none');
            $('#figma-{{fid}}').removeClass('d-none');
        });

   </script>
{% else %}
   <script>
        $('#figma-loader-{{fid}}').addClass('d-none');
        $('#figma-{{fid}}').removeClass('d-none');
   </script>

{% endif %}
