{% capture uuid %}
  {% UUID %}
{% endcapture %}
{% assign fid = uuid | strip %}

{% assign what = include.what || default: "design" %}
{% assign file = include.file %}
{% assign node = include.node || default: "" %}
{% assign st = site.title | url_encode  %}
{% assign w = include.w || default: "100%" %}
{% assign h = include.h || default: "300px" %}
{% assign border = include.border || default: "false" %}
{% assign resetBtn = include.resetBtn || default: "true" %}
{% assign figmaLoadMessage = site.data["buildConfig"]["elements"]["figma"]["loadMessage"] %}
{% assign figmaUrl = site.data.buildConfig.elements.figma.allowedUrl | jsonify %}
{% assign embedSourceUrl = site.data["buildConfig"]["elements"]["figma"]["embedSourceUrl"] %}
{% assign figmaBaseUrl = site.data["buildConfig"]["elements"]["figma"]["figmaBaseUrl"] %}
{% assign footer = include.footer || default: "false" %}
{% assign testSlides = include.testSlides || default: "false" %}

{% if what == "slides" %}
    {% assign pageSelector = "&page-selector=true" %}
{% else %}
    {% assign pageSelector = "&page-selector=false" %}
{% endif %}

{% if node == "" %}
    {% assign nodeParam = "" %}
{% else %}
    {% assign nodeParam = "&node-id=" | append: node %}
{% endif %}

{% if border == "false" %}
    {% assign borderClass = "border-0" %}
{% else %}
    {% assign borderClass = "border border-secondary border-opacity-25 rounded shadow-none" %}
{% endif %}

{% if what == "design" %}
    {% assign afterFile = "design" %}
{% endif %}

{% if what == "board" %}
    {% assign afterFile = "fig" %}
{% endif %}

{% if what == "slides" %}
    {% assign afterFile = "slides" %}
{% endif %}

{% if what == "deck" %}
    {% assign afterFile = "slides" %}
{% endif %}

{% assign embedUrl = 
    embedSourceUrl | append: "/" 
    | append: what | append: "/" 
    | append: file | append: "/"
    | append: afterFile
    | append: "?embed-host=" 
    | append: st 
    | append: "&footer=" | append: footer 
    | append: pageSelector 
    | append: nodeParam 
%}

{% assign fileLinkNodeParam = nodeParam | slice: 1 %}
{% assign fileLinkNodeParam = "?" | append: fileLinkNodeParam %} 

{% assign fileUrl = 
    figmaBaseUrl | append: "/" 
    | append: what | append: "/" 
    | append: file | append: "/"
    | append: afterFile
    | append: fileLinkNodeParam 
%}

<div id="figma-container-{{fid}}">
    <div 
        id="figma-loader-{{fid}}"
        class="d-flex justify-content-center align-items-center {{borderClass}}"
        style="width: {{w}}; height: {{h}};">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <iframe
        id="figma-{{fid}}"
        class="d-none {{borderClass}} rounded"
        width="{{w}}"
        height="{{h}}"
        src="{{embedUrl}}"
        allowfullscreen>
    </iframe>
</div>

{% if resetBtn == "true" and what != "deck" %}

   <button 
        class="btn btn-sm btn-primary d-none" 
        id="btn-reset-figma-view-{{fid}}"
        data-i18n="elements_figma_reset_view_btn_text">
        Reset View
   </button>

   <a 
        class="btn btn-sm btn-success d-none" 
        id="link-to-file-{{fid}}"
        data-i18n="elements_figma_link_to_file_text"
        href="{{fileUrl}}"
        target=_blank>
        Open in Figma
   </a>

   <script>
        const what_{{fid}} = '{{what}}';
        const device_{{fid}} = preFlight.envInfo.device.deviceType;
        const testSlides_{{fid}} = '{{testSlides}}';
        if (what_{{fid}} === 'slides' && device_{{fid}} === 'mobile' && testSlides_{{fid}} === 'false') {
            $('#figma-container-{{fid}}').remove();
            $('#btn-reset-figma-view-{{fid}}').remove();
            $('#link-to-file-{{fid}}').removeClass('d-none');

        }
        else {
            $('#link-to-file-{{fid}}').remove();
            $(window).on('message', function(event) {
                const originalEvent_{{fid}} = event.originalEvent;
                const allowedOrigins_{{fid}} = {{figmaUrl}};
                
                if (!allowedOrigins_{{fid}}.includes(originalEvent_{{fid}}.origin)) return;
                if ( originalEvent_{{fid}}.data === '{{figmaLoadMessage}}')
                    setTimeout(()=>$('#btn-reset-figma-view-{{fid}}').removeClass('d-none'), 100);
            });

            $(document).off('click', '#btn-reset-figma-view-{{fid}}').on('click', '#btn-reset-figma-view-{{fid}}', function() {
                $('#btn-reset-figma-view-{{fid}}').addClass('d-none');
                $('#figma-{{fid}}').addClass('d-none');
                $('#figma-loader-{{fid}}').removeClass('d-none');
                const iframe_{{fid}} = $('#figma-{{fid}}');
                iframe_{{fid}}[0].src = '{{embedUrl}}';
            });

            $('#figma-{{fid}}').on('load', function () {
                $('#figma-loader-{{fid}}').addClass('d-none');
                $('#figma-{{fid}}').removeClass('d-none');
            });
        }
   </script>
{% else %}
   <script>
        $('#figma-loader-{{fid}}').addClass('d-none');
        $('#figma-{{fid}}').removeClass('d-none');
   </script>
{% endif %}

