{%- comment -%}
    Be aware of indentation of liquid tags, 4 spaces (=tab) may be intepreted as code blck in this context.
    This is a known issue of the markdown converter.
    Better use spaces.

    Inside liquid tags, tab can be used.
{%- endcomment -%}
  

{% capture uuid %}
  {% UUID %}
{% endcapture %}
{% assign bid = uuid | strip %}

{% assign type = include.type || default: "primary" %}
{% assign outline = include.outline %}
{% assign border = include.border || default: "false" %}
{% assign text = include.text %}
{% assign href = include.href || default: "#" %}
{% assign newTab = include.newTab || default: "true" %}

{% if newTab == "true" %}
 {% assign target = "target=_blank"%}
{% else %}
 {% assign target = ""%}
 {% endif %}

{% assign allowedTypes = "primary,secondary,success,danger,warning,info,light,dark,link" | split: "," %}
{% if outline == "true" %}
  {% if type == "link" %}
    {% assign btnClass="btn-" | append: type %}
  {% else %}
   {% assign btnClass="btn-outline-" | append: type %}
  {% endif %}
{% else %}
 {% assign btnClass="btn-" | append: type %}
{% endif %}

{% if boder != true %}
  {%assign borderClass = "border-0" %}
{% else %}
  {% assign borderClass = "" %}
{% endif %}

{% if type == "link" %}
  {% assign shadowClass = "shadow-none" %}
{% else %}
  {% assign shadowClass = "" %}
{% endif %}

{% if allowedTypes contains type %}  

<a id="lnk-btn-{{bid}}" class="btn btn-sm {{btnClass}} {{borderClass}} {{shadowClass}}" {{target}} href="{{href}}">
    {{text}}
</a>

{% else %}
 {% capture c %}
  {% ExternalSiteContent  
    {
    "markdown": true,
    "file_path":"partials/errors-and-warnings/wrong-link-btn-type.md", 
    "ignore_wp_shortcodes": true, 
    "start_marker": "fullFile", 
    "include_start_marker": false,
    "end_marker": "fullFile",
    "include_end_marker": false,
    "needAuth": false 
    } 
  %}
 {% endcapture %}

 {% include elements/alert.html class="danger" content=c title="Error" %}
{% endif %}
