{% capture uuid %}
  {% UUID %}
{% endcapture %}
{% assign spyid = uuid | strip %}

{% capture spyContent %}
    {% ScrollSpy partials/scroll-spy/demo-scroll-spy %}
{% endcapture %}

{% assign spyContentJSONString = spyContent | replace: "=>", ":" %}
{% assign spyContentObj = spyContentJSONString | json_string_to_object %}

{% if spyContentObj.items.size > 0 %}
 {% assign itemsContentArray = "" | split: "" %}
 {% assign itemsIdArray = "" | split: "" %}
 <div class="row overflow-auto" style="max-height: 300px" >
  <div class="col-4">
    <div id="spy-items-{{spyid}}" class="d-flex flex-column gap-2 spy-items-{{spyid}}-scrollspy text-start">
        {% for item in spyContentObj.items %}

            {% capture uuid %}
                {% UUID %}
            {% endcapture %}

            {% assign itemId = uuid | strip %}
            {% assign itemFullId = "spyScroll-" | append: spyid | append: "-item-" | append: itemId %}

            {% assign itemIndex = forloop.index0 %}
            
            {% assign rc = spyContentObj.content[itemIndex] %}
            {% capture rendered_item_content %}
                {% DryRenderPage rc %}
            {% endcapture %}
            {% assign rendered_item_content_md = rendered_item_content | markdonify %}

            {% assign extra = "" | split: "" %}
            {% assign extra = extra | push: rendered_item_content_md %}

            {% assign extraId = "" | split: "" %}
            {% assign extraId = extraId | push: itemFullId %}

            {% if extra %}
                {% assign itemsContentArray = itemsContentArray | concat: extra %}
                {% assign itemsIdArray = itemsIdArray | concat: extraId %}
                <a class="p-1" href="#{{itemFullId}}">{{item}}</a>
            {% endif %}
            
        {% endfor %}   
    </div>
  </div>
  <div class="col-8">
    <div data-bs-spy="scroll" data-bs-target="#spy-items-{{spyid}}" data-bs-offset="0" data-bs-smooth-scroll="true" tabindex="0">
        {% for item in itemsIdArray %}
            {% assign itemIndex = forloop.index0 %}
            {% assign itemContent = itemsContentArray[itemIndex] %}
            {% assign itemId = itemsIdArray[itemIndex] %}
            {% assign itemName = spyContentObj.items[itemIndex] %}
            <div id="{{itemId}}" class="mt-2 mb-1 fw-medium text-primary">{{itemName}}</div>
            <div>{{itemContent}}</div>
        {% endfor %}
    </div>
  </div>
 </div>

 <style>
    #spy-items-{{spyid}} {
        position: sticky; 
        top:20px
    }
 </style>

 <script>
    $('#spy-items-{{spyid}} a[href^="#"]').on('click', function () {
        const target = $(this).attr('href');
        console.log('User clicked link to:', target);
        setTimeout(()=>clearTheUrl(), 0);
    });

    $('[data-bs-spy="scroll"]').on('activate.bs.scrollspy', function () {
        const $activeLink = $('#simple-list-example a.active');
        const id = $activeLink.attr('href');
        console.log('ScrollSpy activated section:', id);
    });
 </script>
{% endif %}
