<div class="row overflow-auto" style="max-height: 300px" >
  <div class="col-4">
    <div id="simple-list-example" class="d-flex flex-column gap-2 simple-list-example-scrollspy text-start" style="position: sticky; top:20px">
      <a class="p-1 rounded" href="#simple-list-item-1">Item 1</a>
      <a class="p-1 rounded" href="#simple-list-item-2">Item 2</a>
      <a class="p-1 rounded" href="#simple-list-item-3">Item 3</a>
      <a class="p-1 rounded" href="#simple-list-item-4">Item 4</a>
      <a class="p-1 rounded" href="#simple-list-item-5">Item 5</a>
    </div>
  </div>
  <div class="col-8">
    <div data-bs-spy="scroll" data-bs-target="#simple-list-example" data-bs-offset="0" data-bs-smooth-scroll="true" tabindex="0">
      <div id="simple-list-item-1" class="mb-1 fw-medium text-primary">Item 1</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed accumsan erat. Nulla facilisi. Quisque pellentesque quis quam non malesuada. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut ut tincidunt urna. In ultricies dui at rutrum commodo. Aliquam augue nisl, sollicitudin ut risus et, maximus porttitor nisl. Aliquam tempus risus in urna pretium consequat. Aenean eleifend neque sed magna auctor, eget tristique dolor malesuada. Quisque tempus nulla quis leo condimentum, eu molestie tellus ullamcorper. Aenean posuere rhoncus eleifend. Vivamus malesuada semper orci, a lobortis ante dapibus sit amet. Integer id venenatis massa. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
      <div id="simple-list-item-2" class="mb-1 fw-medium text-primary">Item 2</div>
      <p>Vivamus ut efficitur eros. Vivamus dapibus, massa quis porttitor ultricies, risus nibh ultrices lorem, et ullamcorper mi mi vitae tortor. Nullam vehicula suscipit elit, quis bibendum quam volutpat at. Ut imperdiet sem magna, in commodo ante ultricies ut. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin erat metus, molestie ut volutpat quis, consequat eget nulla. Vivamus tellus augue, rutrum vitae mattis non, tempus vitae metus. Quisque pellentesque mollis auctor. Fusce sed tortor a sapien varius hendrerit ut vel risus. Nullam a fermentum eros. Aenean semper nulla eu mi faucibus, elementum dignissim felis fringilla. Maecenas in massa nec nibh volutpat interdum. Sed ac semper massa. Suspendisse venenatis nulla diam, eget placerat arcu tincidunt ut.</p>
      <div id="simple-list-item-3" class="mb-1 fw-medium text-primary">Item 3</div>
      <p>Vivamus vel tellus a sem elementum commodo. Duis ante leo, sollicitudin eget maximus sit amet, egestas at eros. In vel nisl malesuada, tristique diam at, feugiat quam. Nullam faucibus lectus quis magna venenatis, sed dignissim nisl ornare. Nullam cursus nibh nec mauris lacinia tempus. Phasellus et sapien ac velit lacinia auctor eget in urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam sollicitudin eleifend ultrices. Maecenas euismod mauris ac vehicula vulputate. Aliquam a mollis ligula. Maecenas eget interdum mi, non placerat sapien. Donec tempor tellus in dapibus mollis. Aliquam erat volutpat.</p>
      <div id="simple-list-item-4" class="mb-1 fw-medium text-primary">Item 4</div>
      <p>Nulla facilisi. Aliquam aliquam ut turpis et suscipit. Aliquam semper, massa a pulvinar iaculis, erat neque gravida sapien, sit amet pharetra libero enim non nunc. Nullam id dui ac lectus mattis sollicitudin. Ut sodales velit vitae diam hendrerit, nec venenatis nisi volutpat. Pellentesque eu ultrices neque. Vivamus dignissim scelerisque purus, auctor volutpat lectus tristique sit amet. Nullam in nulla nunc. Vivamus pretium, dolor non fringilla blandit, nisl diam blandit sapien, vitae ultricies arcu nisl sed metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
      <div id="simple-list-item-5" class="mb-1 fw-medium text-primary">Item 5</div>
      <p>Phasellus nec ipsum sed lacus luctus aliquam eget ut enim. Ut aliquam sagittis efficitur. Etiam leo erat, ultricies eget augue nec, faucibus sollicitudin est. Vivamus quis consectetur lacus, ac pulvinar felis. Nulla facilisi. Aliquam condimentum cursus odio, et laoreet ligula. Nullam eget velit justo. Nulla semper ac eros ac auctor. Pellentesque sodales lorem in nulla suscipit, vitae congue nibh efficitur. Sed at erat vitae augue imperdiet mollis.</p>
    </div>
  </div>
</div>

<script>
    cleanTheUrl();
</script>