{% capture uuid %}
  {% UUID %}
{% endcapture %}
{% assign tabsid = uuid | strip %}

{% assign source = include.source || default: "" %}
{% capture tabsContent %}
    {% ScrollSpy {{source}} %}
{% endcapture %}

{% assign tabsContentJSONString = tabsContent | replace: "=>", ":" %}
{% assign tabsContentObj = tabsContentJSONString | json_string_to_object %}

{% if tabsContentObj.items.size > 0 %}
 {% assign itemsContentArray = "" | split: "" %}
 {% assign itemsIdArray = "" | split: "" %}
 <div id="tabs-container-{{tabsid}}" class="my-2">
    
  <!-- Nav tabs -->
  <ul class="nav nav-tabs border border-secondary border-opacity-25 rounded-top d-flex flex-nowrap overflow-auto" id="tabs-header-{{tabsid}}" role="tablist">
    {% for item in tabsContentObj.items %}

        {% capture uuid %}
            {% UUID %}
        {% endcapture %}

        {% assign itemId = uuid | strip %}
        {% assign itemFullId = "tabs-" | append: tabsid | append: "-item-" | append: itemId %}

        {% assign itemIndex = forloop.index0 %}
        
        {% assign rc = tabsContentObj.content[itemIndex] %}
        {% capture rendered_item_content %}
            {% DryRenderPage rc %}
        {% endcapture %}
        {% assign rendered_item_content_md = rendered_item_content | markdonify %}

        {% assign extra = "" | split: "" %}
        {% assign extra = extra | push: rendered_item_content_md %}

        {% assign extraId = "" | split: "" %}
        {% assign extraId = extraId | push: itemFullId %}

        {% if extra %}
            {% assign itemsContentArray = itemsContentArray | concat: extra %}
            {% assign itemsIdArray = itemsIdArray | concat: extraId %}
            {% if itemIndex == 0 %}
                {% assign activeClass = "active" %}
            {% else %}
                {% assign activeClass = "" %}
            {% endif %}
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link {{activeClass}} fw-medium border-0 rounded-0" 
                    id="{{itemFullId}}"
                    data-bs-toggle="tab"
                    data-bs-target="#{{itemFullId}}-content"
                    type="button"
                    role="tab"
                    aria-controls="{{itemFullId}}-content"
                    aria-selected="true">
                    {{item}}
                </button>
            </li>

        {% endif %}
            
    {% endfor %}   
  </ul>

  <!-- Tab panes -->
  <div class="tab-content border-start border-end border-bottom border-secondary border-opacity-25 rounded-bottom" id="tabs-content-{{tabsid}}">
     {% for item in itemsIdArray %}
        {% assign itemIndex = forloop.index0 %}
        {% assign itemContent = itemsContentArray[itemIndex] %}
        {% assign itemId = itemsIdArray[itemIndex] %}
        {% assign itemName = tabsContentObj.items[itemIndex] %}
        {% if itemIndex == 0 %}
                {% assign activeClass = "active" %}
                {% assign showClass = "show" %}
            {% else %}
                {% assign activeClass = "" %}
                {% assign showClass = "" %}
            {% endif %}
        <div
            class="tab-pane fade {{showClass}} {{activeClass}} pt-3 px-2"
            id="{{itemId}}-content"
            role="tabpanel"
            aria-labelledby="{{itemFullId}}-content">
            <div>
                {{itemContent}}
            </div>
        </div>

    {% endfor %}

  </div>

 </div>


 <script>
  $(document).ready(function () {
    $('#tabs-header-{{tabsid}} button').on('shown.bs.tab', function (event) {
      let activeTab = $(event.target).text();     
      let previousTab = $(event.relatedTarget).text();
    });    
  });
 </script>

 <style>
    #tabs-header-{{tabsid}} {
        list-style: none !important; 
        padding-left: 0 !important;
        overflow-x: auto;
        white-space: nowrap;
    }
 </style>

{% else %}
{% assign mess="Something went wrong when building tabs from source: " | append: source | append: ". Check if the source exits and if the tabs items are present in the right format." %}
 {% include elements/alert.html class="danger" content=mess title="Error" %}
{% endif %}
